:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    color: var(--dark-magenta);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr auto 1fr;
    grid-template-areas: 
        "hero stars"
        "reviews reviews"
        "footer footer";
    align-items: center;
    width: min(85em, 85%);
    height: 100vh;
    margin: 0 auto;
}

/* Hero */

header {
    grid-area: hero;
}

h1 {
    width: 25rem;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.sub-hero {
    margin-top: 2rem;
    width: 30rem;
    color: var(--dark-grayish-magenta);
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.4;
}

p {
    font-size: 1.1em;
}

/* Star Ratings */

.star-ratings {
    grid-area: stars;
    display: grid;
    gap: 1em;
}

.rating-box {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1em;
    width: 80%;
    background-color: var(--light-grayish-magenta);
    border-radius: 10px;
}

.rating-box:nth-child(2) {
    transform: translateX(3em);
}

.rating-box:nth-child(3) {
    transform: translateX(6em);
}

.stars,
.rating-box p {
    display: inline;
}

.stars {
    margin: 0 1.5em 0 0.9em;
}

.stars > * {
    margin: 0 0.1em;
}

/* Reviews */

.reviews {
    grid-area: reviews;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.box {
    padding: 3em 2em;
    border-radius: 10px;
    background-color: var(--dark-magenta);
}

.box:nth-child(1) {
    transform: translateY(-3em);
}

.box:nth-child(2) {
    transform: translateY(-1.5em);
}

.nameplate {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.nameplate img {
    height: 3em;
    border-radius: 50%;
    margin-right: 1.5em;
}

/* Footer */

footer {
    grid-area: footer;
    align-self: end;
    text-align: center;
    padding: 1em;
    font-size: 0.8em;
    color: var(--dark-grayish-magenta);
}

footer a {
    color: var(--dark-magenta);
}

footer a:hover {
    color: var(--soft-pink);
}

/* Background Images */

img.bg-top-desktop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

img.bg-bottom-desktop {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

img.bg-top-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

img.bg-bottom-mobile {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* Styling Only */

.bold {
    font-weight: 700;
}

.thin {
    font-weight: 400;
    line-height: 1.4;
}

.white {
    color: var(--white);
}

.pink {
    color: var(--soft-pink);
}

.grayish {
    color: var(--light-grayish-magenta);
}


@media only screen and (max-width: 1010px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
            "hero"
            "stars"
            "reviews"
            "footer";
        gap: 3em;
        height: auto;
        justify-content: center;
    }

    header {
        text-align: center;
        margin: 6rem auto 0;
    }
    
    h1 {
        width: 6em;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.7em;
    }

    .sub-hero {
        margin-top: 1rem;
        width: 21rem;
        font-size: 1.1em;
    }

    .star-ratings {
        width: 21rem;
        margin: 0 auto;
    }

    .rating-box {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
    }

    .rating-box > * {
        display: block;
        text-align: center;
        margin: 0;
    }

    .rating-box:nth-child(2) {
        transform: translateX(0);
    }
    
    .rating-box:nth-child(3) {
        transform: translateX(0);
    }

    .stars {
        margin-bottom: 0.4rem;
    }

    .reviews {
        grid-template-columns: 1fr;
        width: 21rem;
        margin: 0 auto;
        gap: 1em;
    }

    .box {
        padding: 2.5em 2em 2em;
    }

    .box:nth-child(1) {
        transform: translateY(0);
    }
    
    .box:nth-child(2) {
        transform: translateY(0);
    }

    img.bg-top-desktop {
        display: none;
    }
    
    img.bg-bottom-desktop {
        display: none;
    }
    
    img.bg-top-mobile {
        display: unset;
    }
    
    img.bg-bottom-mobile {
        display: unset;
    }
}